.App {
  font-family: sans-serif;
  text-align: center;
  display: none;
}
@media only screen and (max-width: 600px) {
  .App {
    display: block;
  }
  .container {
    margin-top: 41px;
    position: relative;
    max-height: calc(100vh - 263px);
    overflow-y: scroll;
  }
  .MobileCartContainer {
    padding-top: 15px;
  }
}
