.CategoryFilter {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(173, 169, 169);
}
.CategoryFilter__Control {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
}
.CategoryFilter__Control svg {
  font-size: 10px;
}
.CategoryFilter__PriceSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
