.openModalButton {
  display: none;
}
.MuiDialog-paper {
  margin: 0 !important;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .openModalButton {
    display: block;
  }
}
